<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list card stable-bg ink ink-dark">

          <div class="item item-avatar item-icon-right">
            <img src="img/sansa.jpg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
            <i class="icon ion-email" ui-sref="app.message"></i>
          </div>

          <div class="item item-image">
            <img src="img/sansa-snowcastle3.jpg">
          </div>

          <a class="item item-icon-right assertive" href="#">
            <progress value="{{play}}" max="100"></progress>
            <i class="icon ion-checkmark-round"></i>
          </a>

          <div class="list">
            <div class="item range range-positive">
              <i class="icon ion-edit"></i>
              <input type="range" name="volume" min="0" max="100" value="1" ng-model="play">
              <i class="icon ion-checkmark-round"></i>
            </div>
          </div>
        </div>
  </ion-content>
</ion-view>
