<ion-view view-title="Catrgories">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
              <a href="#/app/list" class="item item-thumbnail item-icon-left" style="background: url(img/loginmin.jpg) center; background-size: cover;">
                  <!-- <img src="img/jon-snow.jpg"> -->
                  <h2 class="calm">Category 1</h2>
                  <!-- <p>Da illest illegitimate</p> -->
                  <i class="icon ion-cube muted"></i>
              </a>
            </div>
        </div>
    </ion-content>
</ion-view>
