<ion-view view-title="Categories">
    <ion-content ng-class="{expanded:isExpanded}" style="background-color:#ccc;">
        <div class="content has-header">
            <div ng-repeat="set in category track by set.categoryid" ng-click="storeCategory(set.categoryid)" class="card"  style="height: 200px; background: url(http://localhost/adminlikha/assets/uploads/Images/{{set.category_picture}}) center; background-size: cover;">
              <div class="item item-text-wrap" style="background-color: rgba(139, 137, 137, 0.5); height:101%;">
                  <h1  style="text-shadow: 1px 1px 3px #000;" class="energized"><b>{{set.category_name}}</b></h1>
              </div>
            </div>
        </div>
    </ion-content>
</ion-view>
