<ion-view view-title="Profile" >
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('{{user.profilepicture}}');"></div>
                <h3><a class="light">{{user.first_name}} {{user.middle_name}} {{user.last_name}}</a></h3>
                <h4 ng-show="user.user_type == 'a'">Artisan</h4>
                <h4 ng-show="user.user_type == 'd'">Designer</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
                <!-- <span class="badge badge-assertive">0</span> -->
            </a>
            <a ui-sref="app.category" class="tab-item">
                <i class="icon ion-images"></i> Category
            </a>
            <a ui-sref="app.admin" class="tab-item">
                <i class="icon ion-ios-gear"></i> Likha
            </a>
        </div>
        <h4 class="content padding double-padding-x">Pending</h4>
          <h3 class="assertive" style="margin-left:10%;" ng-show="bid.length <1 && user_type == 'a'">No Pending</h3>
          <h3 class="assertive" style="margin-left:10%;" ng-show="item.length <1 && user_type == 'd'">No Pending</h3>
      <div class="list" ng-repeat="pendbid in bid track by pendbid.bidid" ng-show="bid">
            <a class="item item-avatar item-icon-right">
                <img src="http://localhost/mobile/likha/public/uploads/{{pendbid.item.item_picture}}">
                <h2>{{pendbid.item.item_name}}</h2>
                <p>{{pendbid.amount}}</p>
            </a>
        </div>
        <div class="item item-icon-right" ng-repeat="penditem in item track by penditem.itemid" ng-show="item">
          <i ng-show="penditem.item_status=='o'" ng-click="editing(penditem.itemid)" class="icon ion-ios-gear"></i>
              <a class="item item-avatar" ng-click="selection(penditem.itemid, penditem.bid)">
                  <img src="http://localhost/mobile/likha/public/uploads/{{penditem.item_picture}}">
                  <h2>{{penditem.item_name}}</h2>
                  <p>Due Date: {{penditem.date_to_finish}}</p>
                  <p>Bidders: {{penditem.bid.length}}</p>
              </a>
          </div>
    </ion-content>
    <button ng-show="show" ui-sref="app.upload" id="fab-profile" class="button button-fab button-fab-bottom-right button-energized-900"><i class="icon ion-plus"></i> </button>
</ion-view>
