<ion-view view-title="Upload">
    <ion-content ng-class="{expanded:isExpanded}"  >
      <div class="" ng-show="message">
        {{message}}
        {{error.item_name[0]}} <br>
        {{error.item_picture[0]}}<br>
        {{error.maximum_price[0]}}<br>
        {{error.minimum_price[0]}}<br>
        {{error.category[0]}}<br>
      </div>
      <form   ng-submit="submit(item)">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Item Name</span>
          <input type="text" ng-model="item.item_name" placeholder="Item Name" required>
        </label>
        <label class="item item-input item-floating-label">
          <span >Date to finish</span>
          <input type="date" ng-model="item.date_to_finish" placeholder="Date to Finish" min="{{datenow}}" max="3000-12-31">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Minimum Price</span>
          <input type="number" ng-model="item.minimum_price" placeholder="Minimum Price" min="1"  >
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Maximum Price</span>
          <input type="number" ng-model="item.maximum_price" placeholder="Maximum Price" min="1" >
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Qty</span>
          <input type="number" ng-model="item.qty" min="1" placeholder="Qty">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Comment</span>
          <textarea name="name" rows="8" cols="40" ng-model="item.comment" placeholder="Comment"></textarea>
        </label> <br>
        <label class="item item-input item-select">
          <div class="input-label"> Category </div>
          <select ng-model="item.categoryid">
            <option ng-repeat="set in category track by set.categoryid" ng-value="set.categoryid">{{set.category_name}}</option>
          </select>
        </label>
        <label class="item item-input item-floating-label">
          <div class="" ng-show="fileerror">
            {{fileerror}}
          </div>
          <span>Item Picture</span> <br>
          <input type="file" ng-file-select="onFileSelect($files)" placeholder="Item Picture">
        </label>
        <label class="item item-input item-floating-label">
          <span>Front Picture</span> <br>
          <input type="file" ng-file-select="onFileSelects($files,'front')" placeholder="Item Picture"> <br>
          <span>Back Picture</span> <br>
          <input type="file" ng-file-select="onFileSelects($files,'back')" placeholder="Item Picture"><br>
          <span>Left Side Picture</span> <br>
          <input type="file" ng-file-select="onFileSelects($files, 'left')" placeholder="Item Picture"><br>
          <span>Right Side Picture</span> <br>
          <input type="file" ng-file-select="onFileSelects($files, 'right')" placeholder="Item Picture"><br>
        </label>
      </div>
      <div class="list">
        <button type="submit"  class="button button-full button-assertive ink">Upload</button>
      </div>
    </form>

    </ion-content>
</ion-view>
