<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <div class="list card stable-bg ink ink-dark" ng-repeat="work in item track by work.itemid" ng-hide="user.user_type=='a'">
          <div class="item item-avatar item-icon-right">
            <img src="http://localhost:81/mobile/likha/public/uploads/{{work.item_picture}}">
            <h2>{{work.item_name}}</h2>
            <p>Created on: {{work.created_at}}</p>
            <p>Due on: {{work.date_to_finish}}</p>
            <p ng-show="work.item_status=='s'" >Status: <b style="color:green;">Started</b></p>
            <p ng-show="work.item_status=='c'" >Status: <b style="color:red;">Cancelled</b></p>
            <p ng-show="work.item_status=='com'" >Status: <b style="color:blue;">Completed</b></p>
            <p ng-show="work.item_status=='ic'" >Status: <b style="color:orange;">In Cancellation</b></p>
            <p ng-hide="work.progress!=100">Receipt Number: {{work.receipt}}</p>
            <p ng-hide="work.progress!=100">Tracking Number: {{work.tracking_number}}</p>
            <button class="button button-small" ng-click="cancel(work.itemid)" ng-hide="work.item_status=='ic' || work.item_status == 'c'">Cancel</button>
            <p ng-hide="work.cancel.userid==user.userid">
              <button ng-hide="work.cancel==null" class="button button-small" ng-click="cancelaction(work.itemid, 'accept')" style="color:green;">Accept</button>
              <button ng-hide="work.cancel==null" class="button button-small"  ng-click="cancelaction(work.itemid, 'refusal')" style="color:red;">Refusal</button>
            </p>
            <i class="icon ion-email" ng-click="message(work.itemid)"></i>
          </div>
          <div ng-hide="work.item_status == 'c'">

          <div class="item item-image" ng-hide="work.progress==100">
            <img src="http://localhost:81/mobile/likha/public/uploads/{{work.item_picture}}" >
          </div><br>
          <div class="item item-image">
            <h2>Parts:</h2>
            <img ng-show="work.parts.front" style="width:24%; display:inline" class="full-image" src="http://localhost:81/mobile/likha/public/uploads/{{work.parts.front}}">
            <img ng-show="work.parts.back" style="width:24%; display:inline" class="full-image" src="http://localhost:81/mobile/likha/public/uploads/{{work.parts.back}}">
            <img ng-show="work.parts.right" style="width:24%; display:inline" class="full-image" src="http://localhost:81/mobile/likha/public/uploads/{{work.parts.right}}">
            <img ng-show="work.parts.left" style="width:24%; display:inline" class="full-image" src="http://localhost:81/mobile/likha/public/uploads/{{work.parts.left}}">
          </div>
          <div class="item item-image">
            <h2>Progress Picture:</h2>
            <img ng-repeat="picture in work.upprogress track by picture.upprogressid" style="width:80%; margin-left: auto;  margin-right: auto;" src="http://localhost:81/mobile/likha/public/uploads/{{picture.progress_picture}}">
          </div>
          <a class="item item-icon-right assertive" href="#" ng-hide="work.progress == 100">
            <progress value="{{work.progress}}" max="100"></progress>
            {{work.progress}}%
          </a>
          <div class="list" ng-hide="work.receipt!=null">
           <div class="item item-input-inset" ng-show="work.progress == 100" >
            <label class="item-input-wrapper">
              <input type="text" placeholder="Reciept Number" ng-model="receipt">
            </label>
            <button class="button button-small" ng-click="addReceipt(receipt, work.itemid)">
              Submit
            </button>
          </div>
        </div>
          <div class="list" ng-show="work.progress == 100">
            <button class="button button-full ink" ng-click="feed(work.itemid)" >Feedback</button>
          </div>
        </div>

        </div>
        <!-- artisan -->
        <div class="list card stable-bg ink ink-dark" ng-repeat="work in bid track by work.bidid" ng-show="user.user_type=='a'">
          <div class="item item-avatar item-icon-right">
            <img src="http://localhost:81/mobile/likha/public/uploads/{{work.item.item_picture}}">
            <h2>{{work.item.item_name}}</h2>
            <p>Created on: {{work.item.created_at}}</p>
            <p>Due on: {{work.item.date_to_finish}}</p>
            <p ng-show="work.item.item_status=='s'" >Status: <b style="color:green;">Started</b></p>
            <p ng-show="work.item.item_status=='c'" >Status: <b style="color:red;">Cancelled</b></p>
            <p ng-show="work.item.item_status=='com'" >Status: <b style="color:blue;">Completed</b></p>
            <p ng-show="work.item.item_status=='ic'" >Status: <b style="color:orange;">In Cancellation</b></p>
            <p ng-hide="work.item.progress!=100">Receipt Number: {{work.item.receipt}}</p>
            <p ng-hide="work.item.progress!=100">Tracking Number: {{work.item.tracking_number}}</p>
            <button class="button button-small" ng-click="cancel(work.itemid)" ng-hide="work.item.item_status=='ic' || work.item.item_status == 'c'">Cancel</button>
            <p ng-hide="work.item.cancel.userid==user.userid">
              <button ng-hide="work.item.cancel==null" class="button button-small" ng-click="cancelaction(work.item.itemid, 'accept')" style="color:green;">Accept</button>
              <button ng-hide="work.item.cancel==null" class="button button-small" ng-click="cancelaction(work.item.itemid, 'refusal')" style="color:red;">Refusal</button>
            </p>
            <i class="icon ion-email" ng-click="message(work.item.itemid)"></i>
          </div>
          <div ng-hide = "work.item.item_status=='c'">

          <div class="item item-image" ng-hide="work.item.progress==100">
            <img src="http://localhost:81/mobile/likha/public/uploads/{{work.item.item_picture}}">
          </div><br>
          <div class="item item-image">
            <h2>Parts:</h2>
            <img ng-show="work.item.parts.front" style="width:24%; display:inline" class="full-image" src="http://localhost:81/mobile/likha/public/uploads/{{work.item.parts.front}}">
            <img ng-show="work.item.parts.back" style="width:24%; display:inline" class="full-image" src="http://localhost:81/mobile/likha/public/uploads/{{work.item.parts.back}}">
            <img ng-show="work.item.parts.right" style="width:24%; display:inline" class="full-image" src="http://localhost:81/mobile/likha/public/uploads/{{work.item.parts.right}}">
            <img ng-show="work.item.parts.left" style="width:24%; display:inline" class="full-image" src="http://localhost:81/mobile/likha/public/uploads/{{work.items.parts.left}}">
          </div>
          <div class="item item-image">
            <h2>Progress Picture:</h2>
            <img ng-repeat="picture in work.item.upprogress track by picture.upprogressid" style="width:50%; margin-left: auto;  margin-right: auto;" src="http://localhost:81/mobile/likha/public/uploads/{{picture.progress_picture}}">
          </div>
          <div class="list" ng-hide="work.item.progress == 100">
            <div class="item range range-positive">
              {{work.item.progress}}%
              <input type="range" min="0" max="100" ng-model="work.item.progress" ng-change="setProgress(work.item.itemid, work.item.progress)">
              100%
            </div>
          </div>
          <div class="list" ng-hide="work.item.progress == 100">
            {{fileerror}}
            <div class="item range range-positive">
              <input type="file" ng-file-select="onFileSelect($files, work.item.itemid)" placeholder="Updated Picture">
            </div>
          </div>
          <div class="list" ng-hide="work.item.tracking_number!=null">
          <div class="item item-input-inset" ng-show="work.item.progress == 100">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Tracking Number" ng-model="data">
            </label>
            <button class="button button-small" ng-click="addTackingNumber(data, work.item.itemid)">
              Submit
            </button>
          </div>
        </div>
        <div class="list" ng-show="work.item.progress == 100">
          <button class="button button-full ink" ng-click="feed(work.item.itemid)" >Feedback</button>
        </div>
      </div>
        </div>
  </ion-content>
</ion-view>
