<ion-view view-title="Catrgories">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div ui-sref="app.list" class="card animate-fade-slide-in-right" style="height: 200px; background: url(img/clothes.jpg) center; background-size: cover;">
              <div class="item item-text-wrap">
                  <!-- <img src="img/jon-snow.jpg"> -->
                  <h1 class="energized-100"><b>Clothes</b></h1>
                  <!-- <p>Da illest illegitimate</p> -->
              </div>
            </div>
            <div ui-sref="app.list" class="card animate-fade-slide-in-right" style=" height: 200px; background: url(img/footware.jpg) center; background-size: cover;">
              <div class="item item-text-wrap">
                  <!-- <img src="img/jon-snow.jpg"> -->
                  <h1 class="energized-100"><b>Footware</b></h1>
                  <!-- <p>Da illest illegitimate</p> -->
              </div>
            </div>
            <div ui-sref="app.list" class="card animate-fade-slide-in-right" style=" height: 200px; background: url(img/accessoriesandbags.jpg) center; background-size: cover;">
              <div class="item item-text-wrap">
                  <!-- <img src="img/jon-snow.jpg"> -->
                  <h1 class="energized-100"><b>Accessories and Bags</b></h1>
                  <!-- <p>Da illest illegitimate</p> -->
              </div>
            </div>
            <div ui-sref="app.list" class="card animate-fade-slide-in-right" style=" height: 200px; background: url(img/furniture.jpg) center; background-size: cover;">
              <div class="item item-text-wrap">
                  <!-- <img src="img/jon-snow.jpg"> -->
                  <h1 class="energized-100"><b>Home and  Office Furniture</b></h1>
                  <!-- <p>Da illest illegitimate</p> -->
              </div>
            </div>
            <div ui-sref="app.list" class="card animate-fade-slide-in-right" style=" height: 200px; background: url(img/occasional.jpg) center; background-size: cover;">
              <div class="item item-text-wrap">
                  <!-- <img src="img/jon-snow.jpg"> -->
                  <h1 class="energized-100"><b>Occassional</b></h1>
                  <!-- <p>Da illest illegitimate</p> -->
              </div>
            </div>
        </div>
    </ion-content>
</ion-view>
