<ion-view view-title="List">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="list card stable-bg"> <div class="item item-avatar">
        <img src="img/arya.jpg">
        <h2>Arya Stark</h2>
        <p>"Joffrey. Cersei. Ilyn Payne. Hound. Polliver. The Mountain."</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/crown.jpg">
        <div class="list stable-bg list-inset">
          <div class="item"> Material:  </div>
          <div class="item"> Date Need: </div>
        </div>
        <p>
          The quickest way to a man's heart is through Arya's needle. She has two speeds: Walk and Kill, and is the reason why Waldo is still hiding.
        </p>
          <p>
            <a class="subdued">1 Wishlists</a>
            <a class="subdued">5 Bidders</a>
          </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="bid()"> <i class="icon ion-pricetag"></i> Bid </a>
          <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-heart"></i> Wishlist </a>
          <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-share"></i> Share </a> </div>
        </div>
    </ion-content>
</ion-view>
