<ion-view view-title="register" align-title="left">
    <ion-content style="background-color:#19376e; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <!-- <form ng-submit="uploadProfile(file)" enctype="multipart/form-data"> -->
        <div class="error">
          {{message}} <br>
          {{error.profilepicture}}
        </div>
        <div class="list">
          <img src="{{file.profilepicture.url}}" alt="" />
            <ion-md-input placeholder="Profile Picture" ng-file-select="onFileSelect($files)" type="file"></ion-md-input>
        </div>
        <div class="padding">
          <button class="button button-full button-assertive ink" type="submit" ng-click="add()">Upload</button>
          <button  ui-sref="app.login"class="button button-full button-positive ink">Skip</button>
        </div>
      <!-- </form> -->


    </ion-content>
</ion-view>
