<ion-view view-title="register" align-title="left">
    <ion-content style="background: url(img/bd.png) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Profile Picture" highlight-color="balanced" type="file" style="width:100%;"></ion-md-input>
        </div>
        <div class="padding">
          <button ui-sref="app.register" class="button button-full button-energized-100 ink">Register</button>
        </div>
    </ion-content>
</ion-view>
