<ion-view view-title="Profile" >
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Daenerys Targaryen</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity <span class="badge badge-assertive">0</span>
            </a>
            <a ui-sref="app.category" class="tab-item">
                <i class="icon ion-images"></i> Category
            </a>
            <a ui-sref="app.setting" class="tab-item">
                <i class="icon ion-images"></i> Settings
            </a>
        </div>
        <h4 class="content padding double-padding-x">My Workes</h4>
        <div class="list animate-fade-slide-in-right">
            <a class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>Rate</p>
                <i class="icon ion-thumbsup muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
