<ion-view view-title="Selection">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list card stable-bg ink ink-dark">
          <h4>Select Artisan</h4>
          <form >
          <ion-list ng-repeat="human in artisan track by human.bidid" >
            <label>
            <ion-radio ng-model="select" ng-value="human.userid" ng-change="save(human.userid)">
              Artisan: <b>{{human.user.username}}</b> <br>
              Bidded on: {{human.created_at}} <br>
              Price Bid: PHP {{human.amount}} <br>
              Comment: <br>
                <pre>
                  {{human.comment}}
                </pre>
            </ion-radio>
            </label>
            <span style="color:red;" ng-click="folioid(human.userid)">Visit Portfolio</span>
          </ion-list>
          <button class="button button-full button-royal-100 ink" ng-click="record()">Submit</button>
          </form>
        </div>
  </ion-content>
</ion-view>
