<ion-view view-title="Upload">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="list">
        <ion-md-input placeholder="Item Name" highlight-color="balanced" type="text"></ion-md-input>
        <ion-md-input placeholder="Materials (use ',' to separate)" highlight-color="balanced" type="text"></ion-md-input>
        <ion-md-input placeholder="Date to Finish" highlight-color="balanced" type="date"></ion-md-input>
        <ion-md-input placeholder="Comment" highlight-color="balanced" type="textarea"></ion-md-input>
        <ion-md-input placeholder="Photo" highlight-color="balanced" type="file"></ion-md-input>
      </div>
      <div class="padding">
        <button class="button button-full button-energized-100 ink">Upload</button>
      </div>
    </ion-content>
</ion-view>
